@define-color foreground #f2f2f2;
@define-color foreground-inactive #bfbfbf;
@define-color background rgba(0, 0, 0, .7);
@define-color background-alt #262626;

* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
    opacity: 0.9;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0px;
}

#workspaces button.empty {
    font-weight: normal;
}

#workspaces button.active {
    border-top: 2px solid @foreground;
}

#workspaces button:hover {
    color: @background;
    background-color: @foreground;
}

#window {
    padding-left: 0.5em;
    padding-right: 3em;
    color: @foreground-inactive;
}

#wireplumber,
#bat,
#tray,
#usage,
#net,
#battery,
#backlight,
#network,
#bluetooth,
#temperature,
#cpu,
#memory,
#custom-hyprsunser {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@keyframes blink {
    to {
        color: red;
    }
}

#battery.critical,
#cpu.critical,
#temperature.critical,
#memory.critical {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.low,
#cpu.high,
#temperature.high,
#memory.high {
    color: orange;
}
